<!doctype html><html><body>
<h2>Queue Status</h2>
<p>Serial: <b><%= a.serial_no %></b></p>
<p>People ahead: <b><%= ahead %></b></p>
<p>Estimated wait: <b><%= etaMin %> minutes</b></p>
<p>Slot time: <%= a.slot_time %></p>
</body></html>
