<!doctype html><html><body>
<h2>Doctor Registration</h2>
<form method="post" action="/doctor/register">
<input name="name" placeholder="Name"><br>
<input name="email" type="email" placeholder="Email" required><br>
<input name="password" type="password" placeholder="Password" required><br>
<input name="bmdc_no" placeholder="BMDC No"><br>
<input name="specialty" placeholder="Specialty"><br>
<input name="chamber" placeholder="Chamber / Address"><br>
<button type="submit">Register</button></form></body></html>
